<div class="blog-box-container">
    <div class="blog-heading">
                <div class="blog-text">Seiko</div>    
                <div class="blog-time-right">Japan / 1970</div>
                <div class="blog-heading-divider">
                    <div class="blog-heading-divider-bar"></div>
                    <div class="blog-heading-time-right">16/12/2019</div>
                </div>
    </div>    
    <div class="blog-box">
        <div class="blog-box-left">
            <div class="blog-box-container-text">
                <div class="blog-box-left-heading">Bit of Story</div>
                <div>This was my first Seiko watch which i baught in wearable condition along with my HMT Chinar.</div>        
            </div>
            <div class="blog-box-left-heading">Bit of History</div>
            <div>The 6600 series was a family of mechanical watch movements from Seiko in the 1960's.
            The 6602B movement was the work horse manual winder from that period(from 1968). It is a rock solid and very reliable calibre, evidenced by there being so many that are still working.</div>        
        </div>
            <div class="blog-box-devider-vertical"></div>
        <div class="blog-box-right">
            <div class="img-box">
                <img class="resize" src="./images/seiko-6602-1.png">
            </div>
            <div class="img-box-devider" ></div>
            <div class="img-box">
                <img class="resize" src="./images/seiko-6602-2.png">
            </div>
        </div>
    </div>
</div>