<div class="blog-box-container">
    <div class="blog-heading">
                <div class="blog-text">Seiko 6602-8050</div>    
                <div class="blog-time-right">Japan / 1970</div>
                <div class="blog-heading-divider">
                    <div class="blog-heading-divider-bar"></div>
                    <div class="blog-heading-time-right">16/12/2019</div>
                </div>
    </div>    
    <div class="blog-box">
        <div class="blog-box-left">
            <div class="blog-box-container-text">
                <div class="blog-box-left-heading">Bit of Story</div>
                <div>This was my first Seiko watch which I baught in nice wearable condition along with a beautiful HMT Chinar.
                I still remeber my conversation wwith the seller which was from Kerala.
                I started collection watches recently and was slightly apprehensive. So I asked some quetions to ensure authenticity of the watch and the answer I got was "100% authentic. This is Kerala." Later I baught number of beutiful watches from  same seller.</div>        
            </div>
            <div class="blog-box-left-heading">Bit of History</div>
            <div>The 6600 series was a family of mechanical watch movements from Seiko in the 1960's.
            The 6602B movement was the work horse manual winder from that period(from 1968). It is a rock solid and very reliable calibre, evidenced by there being so many that are still working.</div>        
        </div>
            <div class="blog-box-devider-vertical"></div>
        <div class="blog-box-right">
        
        </div>
    </div>
</div>