<div class="home-tech-grid">
	<div class="home-tech-grid-row-1">
		<div class="home-tech-grid-row-column-1">
			<div class="home-tech-grid-topic-desc">
				History and development of Center Seconds
			</div>
		</div>
		<div><div></div></div>
		<div class="home-tech-grid-row-column-3">
			<div class="home-tech-grid-topic-title">
				The Pursuit of Center Seconds
			</div>
		</div>
	</div>
	<div class="home-tech-grid-row-n">
		<div class="home-tech-grid-content-text">
			<div><b>Traditional Subsidiary Seconds</b></div>
			<div>The center seconds display, as opposed to the more traditional subsidiary seconds (on a small dial, usually at 6 o’clock), is something that we now take for granted. But the traditional watch wheel train–a design rooted in the 17th century–does not easily allow for a center seconds display. The center wheel is in the center of the movement and, rotating once each hour, carries the minute hand. It is the fourth wheel that rotates once each minute, and because the center wheel is in the center, the fourth wheel can’t be. Thus, seconds display has traditionally been done with a small hand at 6 o’clock attached directly to the fourth wheel pinion.</div>
			<div>First popular in the late 1940’s, center seconds designs have taken as many twists and turns as a fast beat balance. Like so much technological change, it is often difficult to understand in retrospect why it was so slow and incremental. One thing was clear in the beginning:  the center wheel was in the center of the movement and it needed to be there to drive the centrally pivoted minute hand.</div>
			<img class="img-watch-responsive" src="/images/subsidiarySecond.jpg" />
			<div>The fourth wheel, rotating once per minute, quite naturally carried the seconds hand (right). Although there were rare exceptions, this was how it was done for the first two and one half centuries of the watch. The design had more utility in watches. In the wristwatch, however, the seconds hand seemed barely to move at a quick glance, and ran on a track that was often too small to read with the naked eye</div>
			<div><b>Indirect Center Seconds</b></div>
			<img class="img-watch-responsive" src="/images/indirectCenterSeconds.jpg" />
			<div>Predictably, the first center-seconds designs–indirect center seconds— left the center and fourth wheels where they “belonged” (below left). With this design, the center wheel drives the third wheel and the third wheel the fourth wheel. But the third wheel (usually) drove a seconds pinion, often via an intermediate wheel.</div>
			<div>The rotational speed of the seconds hand could be adjusted by determining the ratio between the third wheel and seconds pinion and, if present, the intermediate wheel. The extended seconds pinion ran through a hallow center wheel pinion and carried the seconds hand in the center of the movement.</div>
			<div>Indirect-center seconds worked, and is seen in many very fine older watches. The design suffers a few short comings. It usually costs a substantial increase in the thickness of the movement. With the exception of very refined designs like the Patek 12”’-120, the seconds hand, which is outside the power flow, tends to flutter. For this reason a tensioning spring that rides on the seconds pinion is often used, as illustrated in the diagram above. The adjustment of the spring is quite critical, and poor adjustment will produce low amplitude or poor motion of the seconds hand. Indirect center seconds are still used in more expensive movements like the Jaeger LeCoultre caliber 889, Patek caliber 315, and some some Piguets. In less expensive movements, where the complexity and cost are prohibitive, indirect center seconds is now rarely seen.</div>
			<div><b>Direct Center Seconds</b></div>
			<img class="img-watch-responsive" src="/images/directSweep.jpg" />
			<div></div>
		</div>
	</div>
</div>