<div class="home-tech-grid">
	<div class="home-tech-grid-row-1">
		<div class="home-tech-grid-row-column-1">
			<div class="home-tech-grid-topic-desc">
				HMT Case Codes and their meaning
			</div>
		</div>
		<div><div></div></div>
		<div class="home-tech-grid-row-column-3">
			<div class="home-tech-grid-topic-title">
				HMT Case Codes
			</div>
		</div>
	</div>
	<div class="home-tech-grid-row-n">
		<div class="home-tech-grid-content-text">
			<div>HMT watches have generally 4 or 6 digitals case codes embossed on back side of case. Each case code is unique in a way and there is no prescribed formula to decipher the case code. They generally cnsists of 3 things :
			Factory Code - 2 digits generally Case Type - 2 digits generally Year of manufacturing - not present in 4 digit case codes</div>
			<div><b>HMT watch Factory Codes</b></div>
			<div>01 and 02 - Bangalore factories 03 - Chinar factory in Jammu and Kashmir 04 - Tumkur factory in Karnataka 05 - Ranibagh factory in Uttaranchal</div>
			<div><b>4 Digit Case Codes</b></div>
			<div>Chinar watches that you see available on the site these days typically have a four digit case code and the case type code is not included.
			<div>Case Code - 0398 Factory Code - 03 Year of production - 98</div>
		</div>
	</div>
</div>