<div class="home-tech-grid">
	<div class="home-tech-grid-row-1">
		<div class="home-tech-grid-row-column-1">
			<div class="home-tech-grid-topic-desc">
				Detail of HMT Movemets
			</div>
		</div>
		<div><div></div></div>
		<div class="home-tech-grid-row-column-3">
			<div class="home-tech-grid-topic-title">
				HMT Movemets
			</div>
		</div>
	</div>
	<div class="home-tech-grid-row-n">
		<div class="home-tech-grid-content-text">
			<div>020/0231 is the basic handwind with centre seconds. (HMT Pilot, Janata, Kohinoor etc.)</div>
			<div>0232 handwind without centre seconds. (HMT Ankit and other slim models)</div>
			<div>0233 with offset (non centre) seconds. (HMT Kaushal and the TBC-OC pocket watch)</div>
			<div>1809 with centre seconds and non quickset date indication. (HMT Tareeq and Ravi)</div>
			<div>6906/6901 21 jewel automatic based on Citizen 6501.(HMT Rajat)</div>
			<div>6902 21 jewel Unidirectional automatic movement.(HMT Rajat)</div>
		</div>
	</div>
</div>