<div class="home-tech-grid">
	<div class="home-tech-grid-row-1">
		<div class="home-tech-grid-row-column-1">
			<div class="home-tech-grid-topic-desc">
				Detail of Watch Movement
			</div>
		</div>
		<div><div></div></div>
		<div class="home-tech-grid-row-column-3">
			<div class="home-tech-grid-topic-title">
				Watch Movement
			</div>
		</div>
	</div>
	<div class="home-tech-grid-row-n">
		<div class="home-tech-grid-content-text">
			<img class="img-watch-responsive" src="/images/gear-train.jpg" />
			<div>The diagram below shows the typical gear train of a watch. The escapement of a watch begins with the escape wheel. Next you will have the pallet. The pallet makes contact with the balance wheel as shown in the diagram. The balance wheel swings back and forth and with each swing locks and unlocks the pallet as it engages the escape wheel. This arc-of-motion can range from 18,000 beats per hour to as much as 28,000 beats per hour on some wrist watches.</div>
			<img class="img-watch-responsive" src="/images/gear-train-2.jpg" />
			<div>The sketch shows the flow of power from the great wheel through the train to the escapement. The great wheel, which might be on a going barrel or a fusee, drives the pinion of the centre wheel. The minute hand is mounted on the arbor of the centre wheel so it must turn once an hour. The centre wheel turns the pinion of the third wheel, and the third wheel turns the pinion of the fourth wheel. The fourth wheel drives the pinion of the escape wheel, which is locked by the pallets on the lever until a swing of the balance unlocks a pallet and the escape wheel can advance by one tooth. From number of teeth on each wheel and pinion in the train you can work out how fast each wheel is turning and how many vibrations the escapement makes in an hour.</div>
		</div>
	</div>
</div>